:root {
  --accent-color: rgb(67, 155, 245);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #adbac2;
  outline: none;
}

body {
  background-color: rgb(34, 39, 46);
  color: #adbac2;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 25px;
}

/* MAIN */

.main {
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .main {
    padding: 0 10px;
    margin: 0 auto;
    }
}

/* HEADER */

  .navigation {
    width: 100%;
  }

@media screen and (max-width: 1023px) {
  .navigation {
    display: none;
  }
}

.header-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  position: absolute;
  padding: 0 10px;
  background-color: rgba(45, 51, 59, 0.3);
  
}

@media screen and (max-width: 1023px) {
  .header-container {
    justify-content: flex-end;
    height: 50px;

  }
}

.burger-menu {
  text-transform: uppercase;
  display: none;
}

@media screen and (max-width: 1023px) {
  .burger-menu {
    display: block;
  }
}

.navigation-list {
  display: flex;

  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.nav-item-link {
  line-height: 1;
  letter-spacing: 0.03em;

  font-size: 20px;
  white-space: nowrap;
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--accent-color);
}

/* HERO */

@media screen and (max-width: 1023px) {
  .hero-text {
    font-weight: normal;
    font-size: 16px;
  }
}


.hero {
  padding: 250px 40px 70px 40px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: end;
}

@media screen and (max-width: 1023px) {
  .hero {
    padding: 100px 20px 40px 20px;
  }
}

.hero-text {
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0;
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 20px;
  }
}
.description {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.03em;

  font-size: 25px;
  font-weight: 300;

  margin-left: auto;
  margin-right: auto;
  padding: 0 0 30px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .description {
    font-size: 16px;
    text-align: center;
  }
}

/* BARS */

/* @media screen and (max-width: 1023px) { */
  .bars-results {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px 30px;
  }
/* } */

@media screen and (max-width: 1023px) {
  .bars-results {
  display: block;
  margin: 0;
  padding: 0 0 15px 0;
  /* padding-bottom: 15px; */
  }
}

/* .progress-bars {
  padding-bottom: 30px;
} */

@media screen and (max-width: 1023px) {
  .progress-bars {
    padding-bottom: 20px;
  }
}

.current-number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 22px;
  margin: 0;

  font-size: 25px;
  font-weight: bold;
  line-height: 1;
}

@media screen and (max-width: 1023px) {
  .current-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }
}

.number {

  font-size: 25px;
  font-weight: bold;

  padding-left: 10px;
  width: 53px;
  text-align: right;
}

@media screen and (max-width: 1023px) {
  .number {
    font-size: 20px;
    font-weight: bold;
    width: 45px;
  }
}

.sign {
  font-size: 25px;
  font-weight: bold;
  margin-left: 5px;
  text-align: left;
  width: 32px;
}

@media screen and (max-width: 1023px) {
  .sign {
    font-size: 20px;
    font-weight: bold;
    width: 27px;
  }
}

input {
  cursor: pointer;
  height: 30px;
  vertical-align: bottom;
  width: 100%;
}

.strength,
.volume {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.strength-label,
.volume-label {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  padding-right: 10px;
  flex-basis: 120px;
  flex-shrink: 0;
}

@media screen and (max-width: 1023px) {
  .strength-label,
  .volume-label {
    font-size: 20px;
    font-weight: bold;
    flex-basis: 94px;
  }
}

.strength-percent, 
.volume-ml {
  display: flex;
  align-items: center;
}

/* TODO: */
/* .volume-label {
  /* font-family: sans-serif; */
  /* font-size: 25px;
  font-weight: bold;
  padding-right: 46px;
} */ 

/* @media screen and (max-width: 1023px) {
  .volume-label {
    font-size: 20px;
    font-weight: bold;
  }
} */

/* RESULTS */

/* .results {
  padding-bottom: 15px;
} */

.results-title {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .results-title {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
  }
}

.results-desc {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .results-desc {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
  }
}

.results-desc-number {
  font-size: 50px;
}

.results-desc-text {
  font-size: 15px;
}

@media screen and (max-width: 1023px) {
  .results-desc-text {
    font-size: 15px;
  }
}

button {
  width: auto;
  height: 50px;

  display: block;
  margin: 0 auto;

  font-size: 25px;
  font-weight: bolder;
  align-items: center;

  background: rgb(67, 155, 245);
  border: 0px;
  border-radius: 10px;
  
}

button:hover,
button:focus {
  background: rgb(30, 28, 160);
  cursor: pointer;
}

.thumb {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .thumb {
  display: flex;
  justify-content: center;
  
  margin-bottom: 20px;
  }
}
